.gallery-component {
    padding-top: 30px;

    h5 {
        font-family: 'GalanoGrotesqueBold';
        letter-spacing: 1px;
        padding-bottom: 20px;
    }

    .gallery-body {

        .gallery-principal-image {
            padding: 0;
            position: relative;
            min-height: 240px;

            .play-video {
                position: absolute;
                width: 60px;
                height: 60px;
                left: 50%;
                margin-left: -30px;
                top: 50%;
                margin-top: -30px;
                background-image: url(../../media/play.png);
                background-position: center;
                background-size: cover;
            }
        }

        .gallery-info {
            .name {
                font-size: 16px;
                letter-spacing: 1px;
                font-family: 'GalanoGrotesqueBold';
                margin-bottom: 10px;
            }

            .anio, .description {
                font-family: 'GalanoGrotesqueMedium';
            }

            .anio {
                font-size: 13px;
            }

            .description {
                font-size: 12px;
            }
        }
    }

    .box-preview {
        height: 100px;
        border: 1px solid #fff;
        
        .box-preview-bg {
            height: 92px;
            background-position: center;
            background-size: cover;
        }
    }

    .modal {
        background-color: rgba(250, 250, 250, 0);
        .modal-content {
            padding: 0;
        }

        .modal-close {
            position: absolute;
            right: 20px;
            top: 20px;
            width: 20px;
            height: 20px;
            opacity: 0.9;

            &:hover {
                opacity: 1;
            }

            &:before,
            &:after {
                position: absolute;
                left: 15px;
                content: ' ';
                height: 20px;
                width: 2px;
                background-color: #fff;
            }
          
            &:before {
              transform: rotate(45deg);
            }
            &:after {
              transform: rotate(-45deg);
            }
        }
    }

    .slick-slider {
        .slick-arrow {
            position: absolute;
            width: 20px;
            height: 30px;
            background: url(./../../media/arrow.png);
            background-size: 100% 100%;

            &.slick-prev {
                top: -30px;
                left: 29%;
                transform: rotate(-90deg);
                &:before {
                    content: '';
                }
            }

            &.slick-next {
                top: auto;
                left: 29%;
                bottom: -22px;
                transform: rotate(90deg);
                &:before {
                    content: '';
                }
            }
        }

        .col {
            padding: 0;

            &.title-img-slider {
                font-family: 'GalanoGrotesqueBold';
                font-size: 20px;
                line-height: 20px;
                padding-left: 10px;
            }
        }
    }    

    @media (min-width: 720px) {
        h5 {
            font-family: 'GalanoGrotesque';
        }
        
        .gallery-body {
            .gallery-info {
                .name {
                    font-size: 40px;
                    padding-right: 30px;
                    margin-bottom: 30px;
                    line-height: 40px;
                }
    
                .anio, .description {
                    font-family: 'GalanoGrotesque';
                    font-size: 20px;
                }
            }
        }

        .box-preview {
            height: 140px;
            
            .box-preview-bg {
                height: 130px;
            }
        }
    }
}