.estrategia-menu-items{
    li{
        font-weight: bold;
        font-size: 1.5em;
        border-bottom: 2px solid rgb(206, 198, 198);
        margin-bottom: 15px;
        span.change-color-helper{
            color: rgb(209, 203, 203);
        }
    }
}