.home-background{
    background: url('../../media/home/bg-img.jpg?v=1') no-repeat; 
    background-attachment: fixed;
    background-size: cover; /* Resize the background image to cover the entire container */
}

.home-about{
    font-size: 1.7em;
    text-align: justify;
    font-family: 'GalanoGrotesqueBold';
}

@media screen and (max-width: 600px) {
    .home-about{
        font-size: 1.2em;
    }
}