.home-background{
    background: url('../../media/home/bg-img.jpg?v=1') no-repeat; 
    background-attachment: fixed;
    background-size: cover; /* Resize the background image to cover the entire container */
}

.home {
    .valign-wrapper {
        height: 60vh;

        .home-about{
            font-size: 1.7em;
            text-align: justify;
            font-family: 'GalanoGrotesqueBold';
            letter-spacing: 1.5px;
        }
    }

    @media screen and (max-width: 600px) {
        .valign-wrapper {
            .home-about{
                font-size: 1.2em;
            }
        }
    }

    canvas {
        position: absolute;
        left: 0;
        top: 0;
    }

    .content-animation {
        position:absolute;
        width: 600px;
        height: 710px;

        left:0; right:0;
        top:0; bottom:0;
        margin:auto;

        .circle {
            top: 0;
            width: 600px;
            height: 600px;
            background: url(./../../media/esfera-stadium.png);
            background-size: cover;
    
            /*animation*/
            animation-name: floating-circle;
            animation-duration: 4s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;

            /* ----- NODOS ----- */
            .content-nodos {
                position:absolute;
                width: 100%;
                height: 100%;
                top: 0;


                .nodos {
                    position: relative;
                    width: 100%;
                    height: 100%;

                    .nodo {
                        position: absolute;
                        width: 10px;
                        height: 10px;
                        background: red;
                        border-radius: 30px;
                        cursor: pointer;
                        transition: transform .5s;
                        z-index: 2;

                        &:hover {
                            transform: scale(4);
                        }

                        &[data-number="1"] {
                            left: -0.7%; top: 48%;
                        }
                    
                        &[data-number="2"] {
                            left: 45%; top: 99.5%;
                        }
                    
                        &[data-number="3"] {
                            left: 95%; top: 70%;
                        }
                    
                        &[data-number="4"] {
                            left: 86%; top: 15%;
                        }
                    
                        &[data-number="5"] {
                            left: 55%; top: -0.3%;
                        }
                    }
                }
            }
        }

        .circle-shadow {
            position: relative;
            width: 70%;
            top: 60px;
            height: 20px;
            background: rgba(153, 153, 153, 0.48);
            filter: blur(3px);
            opacity: 0.5;
            border-radius: 100%;
            margin: 0 auto;
    
            /*animation*/
            animation-name: floating-circle-shadow;
            animation-duration: 4s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
        }
    }

    @keyframes floating-circle {
        0% { transform: translateY(  0px ) }
        50% { transform: translateY( 20px ) }
        100% { transform: translateY(  0px ) }
    }

    @keyframes floating-circle-shadow {
        0% { width: 70%; background: rgba(153, 153, 153, 0.48); }
        50% { width: 60%; background: rgba(45, 45, 45, 0.7); }
        100% { width: 70%; background: rgba(153, 153, 153, 0.48); }
    }

    .content-nodos .nodo:hover + div {
        opacity: 1;
    }



    /* ----- LABELS ----- */
    .content-nodos .label {
        position: absolute;
        opacity: 0;
        transition: all .5s;
        white-space: nowrap;
        font-size: 14px;
        font-family: 'GalanoGrotesqueMedium';
        color: red;
    }

    .content-nodos .label[data-number="1"] {
        top: 47%; left: -15%;
    }

    .content-nodos .label[data-number="2"] {
        top: 100%; left: 31%;
    }

    .content-nodos .label[data-number="3"] {
        top: 65%; left: 100%;
    }

    .content-nodos .label[data-number="4"] {
        top: 17%; left: 92%;
    }

    .content-nodos .label[data-number="5"] {
        top: -5%; left: 32%;
    }



    /* ----- LINES ----- */
    .content-nodos .lines .line {
        position: absolute;
        z-index: 1;
        border-top: 1px solid #ff000073;
    }

    .content-nodos .lines .line[data-number="1"] {
        width: 74%;
        transform: rotate(139deg);
        top: 24.5%;
        left: -9%;  
    }

    .content-nodos .lines .line[data-number="2"] {
        width: 68%;
        transform: rotate(48deg);
        top: 74%;
        left: -11%;
    }

    .content-nodos .lines .line[data-number="3"] {
        width: 57%;
        transform: rotate(149deg);
        top: 85.4%;
        left: 42%;
    }

    .content-nodos .lines .line[data-number="4"] {
        width: 56%;
        transform: rotate(81deg);
        top: 44%;
        left: 63.3%;
    }

    .content-nodos .lines .line[data-number="5"] {
        width: 35%;
        transform: rotate(27deg);
        top: 8%;
        left: 53%;
    }

    .animate-fade {
        transition: opacity 600ms;
        
        &.hide-o {
            opacity: 0;
        }
    }

    @media only screen and (max-width: 600px) {
        .content-animation {
            width: 350px;
            height: 415px;
        }

        .content-animation .circle {
            width: 350px;
            height: 350px;
        }

        .content-animation .circle-shadow {
            top: 35px;
            height: 12px;
        }

        .home .content-nodos .lines .line[data-number="1"] { top: 25.5%; }
    }

    @media only screen and (max-width: 415px) {
        canvas { width: 415px !important; }
    }

    @media only screen and (max-width: 375px) {
        canvas { width: 375px !important; }
    }
}