.gallery-component {
    .box-preview {
        height: 100px;
        border: 1px solid #fff;
        
        .box-preview-bg {
            height: 92px;
            background-position: center;
        }
    }
}