.internal-component {
    h1 {
        margin-top: 0;
        font-family: 'GalanoGrotesqueBold';
        font-size: 3em;
    }
    
    p {
        font-family: 'GalanoGrotesque';
        font-size: 1em;
    }

    @media screen and (max-width: 600px) {
        h1 {
            font-size: 2.5em;
        }
    
        p {
            font-size: 1em;
        }
    }
}