.btn-gallery {
	position: absolute;

	button {
		background-color: #DDDDDD;
		border-radius: 10px;
		color: #000;

		&:hover,
		&:focus {
			background-color: #CCCCCC;
		}
	}
	
	&.go {
		//transform: rotate(-180deg);
	}
}